.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  margin-bottom:20px;
}
.question-box,.msg-div{
    width: 55%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}
.question,.options,.msg-div{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 5px;
    cursor: default;
}
.options{
    display: flex;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
  margin-top:10px;
}
.options-div{
    margin-top: 5px;
}
.option-text{
    margin-inline: 10px;
}
.sub-btn,.restart-btn{
    margin-top: 20px;
    background-color: rgb(40, 100, 100);
}

.msg-div{
    display: none;
  margin-bottom:20px;
}



@media only screen and (max-width:500px){
    .question-box,.msg-div{
    width: 90%;
    
}
  
}